


/* Header */

html {
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    margin: 0;
    background-color: beige;
    display: block;
  }


  body {
      position: relative;
  }

  
  /* Header */
  
  header {
    position: fixed;
    z-index: 2;
    top:0;
    width: 100%;
    top: -10px;

  }

  /* Desktop LOGO */

  header .cont {
    text-decoration: none;
    color: black;
    margin-top: 60px;
    height: 150px;
    
}


header .desktop_logo {
  /*
  background-color: rgb(181, 223, 223);
  padding: 30px;
  margin-top: -30px;
  margin-left: 30px;
  width: 250px;
  border: 1px solid black;
  font-weight: bold;
*/
  font-weight: bold;
  font-size: 2rem;
  background-color: white;
  margin-left: 30%;
  margin-right: 30%;


}

  header nav ul {
    display: flex;
    flex-direction: row;
    float: right;
    overflow: hidden;
    background-color: rgb(25, 96, 129);
    position: fixed;
    width: 100%;
    top: -20px;
  }

  header nav ul a {
    float: right;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    list-style: none;
  }

  header nav ul a:hover {
    background: #ddd;
    color: black;
  }

  nav li {
    list-style: none;
  
  }
  

/********************************* Screen Sizes ************************************/

@media only screen and (min-width: 601px) {
    .cont .mobile {
        visibility: hidden;
    }
}

@media only screen and (max-width: 600px) {
    .cont .mobile {
        visibility: visible;
        text-align: center;
        /*margin-left: 0;
        margin-right: 0;*/
        height: 2px;
        margin-top: -20px;
    }

    .mobile img{
        width: 30%;
        margin-right: 40px;
    }

    .cont .desktop, .cont .desktop_logo {
        visibility: hidden;
    }


    .cont #mobile_logo {
        font-size: 1rem;
        visibility: visible;
        margin-top: -40px;
    }


    header .desktop {
      display: none;
    }
  
    header .mobile {
      display: block;
      width: 100%;
    }  
  
    header .mobile ul {
      display: flex;
      align-items: center;
      width: 100%;
    }
  
  }



/************************ MAIN CONTENT ******************/

.main-contant {
  justify-content: center;  
  margin-top: 50px;
}

h2 {
  text-align: center;
  opacity: 0.6;
}


.banner {
  
	  width: 100%;  
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;

    margin-top: 90px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    /*opacity: 0.7;*/

    background-image: url("http://samlib.ru/img/r/rublew_a_d/kirppesh/p1080599.jpg");
    border: 1px solid black;
}

.flag {
  height: 150px;
  width: 100%;
  background-color: rgb(77, 22, 230);
}

h1 {
  text-align: center;
  background-color: rgb(206, 19, 190);
  padding: 5px;
  margin: 5px                                                                                                                                                                                                                                                                                                       ;
}

/* Different sizes of banner */

@media screen and (max-width: 900px) {

    .banner {
        width: 100%;
        height: 100px;
    }

  }
  

/***************** About Section ********************/
.about {
  margin-top: 150px;
}

.about_picture {
  background-image: url("https://classroomclipart.com/images/gallery/Clipart/Construction/two_men_reviewing_construction.jpg");
  width: 300px;
  height: 400px;
  margin: 20px;
  padding: 20px;
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
  float: left;
}

.about h2 {
  text-decoration: underline;
}

.about p {
  font-style: italic;
  text-align: justify;
  line-height: 150%;
}

@media screen and (max-width: 600px) {
  .about_picture {
    display: none;
  }  
}

/******************** Message ******************/
h2 {
  margin-left: auto;
  margin-right: auto;
  font-style: italic;
}

/***************************** Dream Section *********************/


.dream {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  padding: 20px;
  justify-content: space-around;
  margin: 50px;
  padding: 20px;
}

.dream .dream_img {
  width: 400px;
  height: 300px;
  border: solid 15px white;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border: 5px solid rgb(124, 118, 118);
  margin: 20px;
}

.dream #img1 {
  background-image: url("https://i.pinimg.com/originals/7f/3e/73/7f3e7339dd995ea89d15856cfc3738b2.jpg");
}

.dream #img2 {
  background-image: url("https://www.itl.cat/pngfile/big/98-981532_thumper-wallpaper.jpg");
}

.dream #img3 {
 background-image: url("http://profigarden.hu/s/www_profigarden_hu/i/301_l.jpg");
}


/*************************** Galery Section ******************************/

.container {
  position: relative;
  width: 50%;
  height: auto;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
}

.image {
  display: block;
  width: 80%;
  height: auto;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 80%;
  opacity: 0;
  transition: .5s ease;
  background-color: #6a7174;
}

.container:hover .overlay {
  opacity: 0.8;
}

.text {
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}
#first {
  margin-top: 150px;
}

a{
  color: black;
  font-weight: bold;
  text-decoration: none;
  font-size: 32px;
}

/***************************** TEAM SECTION **************/

.team_container {
  display: block;
}

.team{
  height: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  border: 5px solid black;
  background-image: url("https://wallpaperaccess.com/full/118275.jpg");
  background-repeat: no-repeat;
  flex-direction: row;
  opacity: 0.9;
  
}

.flag {
  padding: 10px;
  background-color: #f2f2f2;
}

.team_mate {
  flex-basis: 280px;
  padding: 50px;
  color: white;
}

#meet {
  margin-top: 120px;
}

h3{
  display: block;
  font-size: 1.17em;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;

}

p{
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;

}

h3, p {
  color:black;
  background-color: burlywood
}

/***********************************contact******************/


.contact_html {
  background-image: url("https://www.visitcornwall.com/sites/default/files/product_image/1_the_view_looking_up_the_garden_at_trebah.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.contact {
  margin-top: 150px;
  font-size: 2rem;
  text-align: start;
  margin-bottom: 200px;
}

.contact_detail {
  border: 1px solid black;
  margin-left: 10%;
  margin-right: 10%;
  padding: 50px;
  background-color: white;
}

#contact_us {
  background-color: white;
  margin-left: 30%;
  margin-right: 30%;
}
h4 {
  text-align: center;
  /*margin-left: 30%;*/
}

@media screen and (max-width: 800px) {
  #contact_us, h4, h6 {
    font-size: 1rem;
  }

  #contact_us {
    opacity: 5;
  }
}